<h1> Bookmarks </h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark.url %>">
        <%= bookmark.title %>
        </a>
    </li>
    <% end %>
    </ul>

<form action=/add_bookmark method='post'>
  <label>
    URL:
  </label>
  <input type="text" name="url"><br>
  <label>
    NAME:
  </label>
  <input type="text" name="title"><br>
  <button type="submit" value="Submit">create Bookmark</button>
  </form>
